# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/maet-project.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
server/recommendation-model/__pycache__/recommendation_model_np.cpython-37.pyc
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/codeStyleConfig.xml
server/recommendation-model/__pycache__/recommendation_model_np.cpython-37.pyc
.idea/other.xml
*.xml
