.page {
  height: calc(100% - 50px);
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 1fr;
  grid-template-areas:
          "statistic"
          "recommendation";

  .date-checker {
    grid-area: statistic;
  }

  .recommendation {
    display: flex;
    background-color: white;
    grid-area: recommendation;
    overflow-x: auto;

    span {
      $font-position: 30px;
      position: absolute;
      margin: $font-position 0 0 $font-position;
      font-size: 24px;
    }
  }
}

