.analytic {
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;

  h2 {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .nutrition {
    padding-left: 20px;
    width: 15%;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
      height: 45px;
    }
  }

  .nutrition-graph {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    height: 100%;
    position: relative;

    li {
      height: 45px;
      display: flex;
      align-items: center;
      font-size: 12px;
      div {
        height: 25px;
        margin-right: 7px;
        border-radius: 20px;
      }
    }

    .recommended-amount {
      position: absolute;
      right: 25%;
      height: 90%;
      border-right: 2px dashed lightgray;
      box-sizing: border-box;
    }
  }
}

#calorie { background-color:  #142459}

#carbohydrate { background-color: #176BAD  }

#protein { background-color: #19AADE  }

#fat { background-color: #1AC9E6 }

#sugar { background-color: #64D1D3  }

#salt { background-color: #6CE1BE  }

#cholesterol { background-color: #97F2D2 }

#saturated-fat { background-color: #C4ECE3 }

#trans-fat { background-color: #BCD9CB }